<center><h1>Profile<h1></center><br>
<h3><table>
<tr>
<td>Login name</td>
<td><%= @empprofile.login %></td>
</tr>
<tr>
<td>Employee name</td>
<td><%= @empprofile.name %></td>
</tr>
<tr>
<td>Designation<t/d>
<td><%= @empprofile.designation %></td>
</tr>
<tr>
<td>Email ID</td>
<td><%= @empprofile.email %></td>
</tr>
  
</table>


