<h1><br><br>The Beginning</h1>
<h3>
We are one of the early start-up companies working in Rails early 2006. Though it was a challenging decision to marry with Ruby on Rails and keeping the girlfriend PHP off the shelf, Ruby on Rails didn't not let us down. Combining proven expertise in technology, and an understanding of emerging business trends, RailsFactory delivers a range of development solutions that includes e-business solutions, professional web site design, Vertical Search Engine solutions, CMS and product engineering.
Quick Profile<br><br>

    * Founded in 2006<br>
    * Grown to be one of the largest RoR consultants in this 4-years<br>
    * Employee strength of 50+ engineers and system administrators<br>
    * Over 50 RoR projects executed in 4-years<br>
    * Major clients are from US, Canada, India & UK<br>
    * Active Volunteer for Chennai based Rails meetups<br>
</h3><br><h1>
How we engage</h1>
<h3><br>
We generally follow series of steps for every project depending on the development model you choose from. Generally things flow like this,
Initial Process<br><br>

    * We will sign the NDA<br>
    * Brain-storming about the project requirements and application architecture<br>
    * Choose your "application development model"<br>
    * Wireframes built by Interactive designer (if no frontend design provided)<br>
    * Video/audio conference with core development team<br>
    * We will setup Staging server, SVN repository, Basecamp access, Ticketing System<br>
    * Milestones, daily updates and weekly deliverables<br>
</h3>