<h1> Welcome to Sedin </h1>
<h3><p> We are one of the largest RoR development team in India serving clients around the globe with our quality service. <br>
<br>If you are looking for a quick and easy way to transform your idea into a functional prototype, using RoR its potential of Agile Development methodology, Railsfactory is going to be your best bet.<br><br>

Over the years, we have specialized in the niche domain of RoR. Our constant focus and expertise in software development have made us the premier RoR consultant worldwide.<br><br>

If you are on the lookout for any of the following services, we are here to assist you.<br><br>


	*Web 2.0 - application development in Rails : Fixed cost & Time and Material<br>
	*Application Scalability Solutions through cloud computing clusters<br>
	*Accelerate current application development with our expertise<br>
	*Product Development under SAAS / hosted-solution model<br><br>
     

Our vision is to ensure the clients delight by developing end-to-end RoR solutions cost-effectively and to become No:1 Ruby on Rails development company in Asia.<br><br><br>
</p></h3>
<img src = "/images/72619_10150096834020159_721080158_7249719_7681944_n.jpg"> <br><br><br><h2> Our Family</h2></img>
