<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Emporium
Version    : 1.0
Released   : 20090222
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Emporium by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<!-- start header -->
<div id="logo">
	<h2><center><a href="#">SEDIN Technologies Pvt Ltd</a></center></h2>

</div>
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item">
			       <%= link_to 'Create Project', :controller=>"projects", :action=>"new" %></li>
			<li><%= link_to 'Project Details', :controller=>"projects", :action=>"show" %></li>
			<li><%= link_to 'Employee Details', :controller=>"projects", :action=>"show1" %></li>
			<li><a href="/users/logout">Logout</a></li>
		</ul>
	</div>
</div>
<!-- end header -->
</div>
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
	
		</div>
		<div class="post">
			<h2 class="title"></h2>
			<div class="entry">
				</div>
			<div class="meta">
				<%= yield %>
				
			</div>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
	
		</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p id="legal">( c ) 2010. All Rights Reserved. <a href="http://www.Teamc.org/">Bestfriends</a> designed by <a href="#">Team C</a>.</p>
</div>
<!-- end footer -->
</body>
</html>
